body {
    background-color: whitesmoke;
  }
  
  h3 {
    color: white;
  }
  
  .navbar {
    background-color: white;
  }
  
  .navbar-brand {
    background-color: teal;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .col-4, .col-6 {
    background-color: white;
  }
  
  .card-header {
    background-color: white;
    color: teal;
    text-align: center;
  }